<div class="basic pt-7">

  <div *ngIf="id==1">
    <div class="bg-light">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-6 col-xl-7 ">
            <div class="text-md-start">
              <div class="section-title">DETAILS</div>
              <h2>Comptabilité et Fiscalité</h2>
              <p>Vous souhaitez déléguer vos obligations réglementaires, identifier les risques éventuels, optimiser vos
                options comptables et fiscales en intégrant l’environnement économique qui est le vôtre.

                Vous cherchez un expert-comptable à votre écoute afin de vous accompagner de manière proactive pour une
                méthodologie et des recommandations au fur et à mesure que vous vous développez.</p>
              <div class=""><button (click)="navigateTo('contact')" class="btn btn-lg btn-outline-primary rounded-pill"
                  type="submit">Contactez nous
                </button></div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-xl-5">
            <div>
              <img height="500px" src="assets/images/team10.jpg" alt="alternative" />
            </div>
          </div>
        </div>
      </div>

    </div>

    <section class="pt-6" id="about">
      <div class="bg-holder"
        style="background-image:url(assets/images/dot.png);background-position:right bottom;background-size:auto;margin-top:50px;">
      </div>
      <!--/.bg-holder-->
      <div class="container">
        <div class="row g-xl-0 align-items-center">
          <div class="col-md-6"><img class="img-fluid mb-5 mb-md-0" src="assets/images/Business Plan-pana.png"
              width="480" alt="" />
          </div>
          <div class="col-md-6 text-center text-md-start">
            <h3 class="fw-bold lh-base">Des solutions adaptées <br> à chaque situation</h3>
            <hr class="text-dark mx-auto mx-md-0" style="height:2px;width:50px" />
            <p class="pt-3">Vous souhaitez déléguer vos obligations réglementaires, identifier les risques éventuels,
              optimiser vos
              options comptables et fiscales en intégrant l’environnement économique qui est le vôtre.

              Vous cherchez un expert-comptable à votre écoute afin de vous accompagner de manière proactive pour une
              méthodologie et des recommandations au fur et à mesure que vous vous développez</p>
            <div class="py-3"><button class="btn btn-lg btn-outline-primary rounded-pill" type="submit">Contactez-nous
              </button></div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div *ngIf="id==2">

    <!-- <div class="container mt-7 pb-5">
      <div class="row">
        <div class="d-flex align-items-center">
          <div class="col-lg-8 col-xl-7">
            <div class="text-container">
              <div class="section-title">DETAILS</div>
              <h2>Paie et RH</h2>
              <p>Dans un environnement réglementaire complexe et en constante évolution, s’appuyer sur des
                professionnels
                permet de sécuriser sa gestion sociale et de se consacrer pleinement à son activité. La gestion des
                ressources humaines est un facteur essentiel de développement. La paye et la gestion
                administrative du personnel nécessitent des connaissances approfondies et sans cesse actualisées.Pour
                l’entreprise, la gestion sociale et l’administration des Ressources Humaines représentent des fonctions
                lourdes, complexes et récurrentes. Fiduciaire Rochelaise vous accompagne dans tous les aspects de la
                gestion des ressources humaines de votre
                entreprise. Avec des équipes formées en continu, notre cabinet vous aide à limiter vos risques. Nous
                vous
                apportons un conseil personnalisé pour optimiser votre gestion sociale.</p>
              <div><button class="btn btn-lg btn-outline-primary rounded-pill" type="submit">Contactez nous
                </button></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-5">
          <div class="image-container">
            <img class="img-fluid" src="assets/images/team1.jpg" alt="alternative" />
          </div>
        </div>
      </div>

    </div> -->
    <div class="bg-light">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-6 col-xl-7 ">
            <div class="text-md-start">
              <div class="section-title">DETAILS</div>
              <h2>Paie et RH</h2>
              <p>Dans un environnement réglementaire complexe et en constante évolution, s’appuyer sur des
                professionnels
                permet de sécuriser sa gestion sociale et de se consacrer pleinement à son activité. La gestion des
                ressources humaines est un facteur essentiel de développement. La paye et la gestion
                administrative du personnel nécessitent des connaissances approfondies et sans cesse actualisées.Pour
                l’entreprise, la gestion sociale et l’administration des Ressources Humaines représentent des fonctions
                lourdes, complexes et récurrentes. Fiduciaire Rochelaise vous accompagne dans tous les aspects de la
                gestion des ressources humaines de votre
                entreprise. Avec des équipes formées en continu, notre cabinet vous aide à limiter vos risques. Nous
                vous
                apportons un conseil personnalisé pour optimiser votre gestion sociale.</p>
              <div class=""><button (click)="navigateTo('contact')" class="btn btn-lg btn-outline-primary rounded-pill"
                  type="submit">Contactez nous
                </button></div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-xl-5">
            <div>
              <img height="600px" src="assets/images/team1.jpg" alt="alternative" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <section id="about" class="about pt-5 pb-5">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Notre offre gestion sociale</h2>
        </div>

        <div class="row h-100 pt-7 g-4 ">
          <div class="col-sm-9 col-md-4 text-center">
            <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
              <div class="card-body text-center text-md-start">
                <div class="py-3"><img class="img-fluid" src="assets/images/finance.png" height="90" alt="" />
                </div>
                <div class="py-3">
                  <h4 class="fw-bold card-title">Gestion de la paie <br> <br></h4>
                  <ul class="pt-3">
                    <li><i class="ri-check-double-line"></i> <strong> Établissement des bulletins de salaires</strong>
                    </li>
                    <li><i class="ri-check-double-line"></i> <strong> Établissement des déclarations sociales </strong>
                    </li>
                    <li><i class="ri-check-double-line"></i> <strong> Attestations de salaires </strong>
                    </li>
                    <li><i class="ri-check-double-line"></i> <strong> Assistance lors de contrôle URSSAF </strong>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-9 col-md-4 text-center">
            <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
              <div class="card-body text-center text-md-start">
                <div class="py-3"><img class="img-fluid" src="assets/images/rh.png" height="90" alt="" />
                </div>
                <div class="py-3">
                  <h4 class="fw-bold card-title">Gestion des ressources humaines</h4>
                  <ul class="pt-3">
                    <li><i class="ri-check-double-line"></i> <strong> Assistance dans la rédaction des contrats de
                        travail, dans les procédures de licenciement ou disciplinaires</strong>
                    </li>
                    <li><i class="ri-check-double-line"></i> <strong> Bilan social </strong>
                    </li>
                    <li><i class="ri-check-double-line"></i> <strong> Évaluation et optimisation des rémunérations et de
                        la protection sociale </strong>
                    </li>
                    <li><i class="ri-check-double-line"></i> <strong> Plan de formation de l’entreprise </strong>
                    </li>
                    <li><i class="ri-check-double-line"></i> <strong> Prévoyance et retraite des salariés </strong>
                    </li>
                    <li><i class="ri-check-double-line"></i> <strong> Réduction et aménagement du temps de travail
                      </strong>
                    </li>
                    <li><i class="ri-check-double-line"></i> <strong> Hygiène et sécurité : document unique, pénibilité,
                        règlement intérieur, délégations de pouvoir </strong>
                    </li>
                    <li><i class="ri-check-double-line"></i> <strong> Représentation du personnel </strong>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-9 col-md-4 ">
            <div class="card text-center h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
              <div class="card-body text-center text-md-start">
                <div class="py-3"><img class="img-fluid" src="assets/images/comptabilite.png" height="90" alt="" />
                </div>
                <div class="py-3">
                  <h4 class="fw-bold">Audit social et missions ponctuelles</h4>
                  <ul class="pt-3">
                    <li><i class="ri-check-double-line"></i> <strong> Audit sociaux organisationnels ou d’acquisition
                        d’entreprises (analyse des conventions collectives applicables, des contrats de travail,
                        bulletins de salaires et accords d’entreprises)</strong>
                    </li>
                    <li><i class="ri-check-double-line"></i> <strong> Audit de conformité </strong>
                    </li>
                    <li><i class="ri-check-double-line"></i> <strong> Audit des engagements sociaux </strong>
                    </li>
                    <li><i class="ri-check-double-line"></i> <strong> Assistance et conseil au Recrutement </strong>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="py-6 py-lg-8">
      <div class="container">
        <div class="row g-xl-0 align-items-center">
          <div class="col-md-6 order-md-1 text-md-end"><img class="img-fluid mb-5 mb-md-0"
              src="assets/images/Audit-rafiki.png" width="480" alt="" /></div>
          <div class="col-md-6 text-center text-md-start order-md-0">
            <h2 class="fw-bold lh-base">Un nouveau métier<br />Business Coach</h2>
            <hr class="text-dark mx-auto mx-md-0" style="height:2px;width:50px" />
            <p class="pt-3">Nos experts en comptabilité sont là pour vous accompagner à chaque étape de votre
              comptabilité,
              depuis la tenue et la révision périodique de vos comptes jusqu'à l'établissement de votre bilan comptable
              et
              de votre bilan prévisionnel. Nous pouvons également mettre en place des procédures comptables et
              administratives pour vous aider à gérer efficacement votre entreprise. Avec GESTION Afrique, vous pouvez
              être
              sûr que vous avez accès à une expertise de haut niveau pour vous aider à atteindre vos objectifs
              commerciaux.
            </p>
            <div class="py-3"><button class="btn btn-lg btn-outline-primary rounded-pill" type="submit">Learn more <svg
                  class="bi bi-arrow-down-short" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z">
                  </path>
                </svg></button></div>
          </div>
        </div>
      </div>
    </section> -->

  </div>

  <div *ngIf="id==3">

    <div class="bg-light">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-6 col-xl-7 ">
            <div class="text-md-start">
              <div class="section-title">DETAILS</div>
              <h2>Juridique</h2>
              <p>Les faits et vos décisions sont liés au cadre juridique et fiscal de votre activité. Il est essentiel
                de bien comprendre votre environnement et plus spécifiquement, votre stratégie d’entreprise afin de
                mieux analyser les conséquences juridiques et fiscales des opérations que vous entreprenez.</p>
              <div class=""><button (click)="navigateTo('contact')" class="btn btn-lg btn-outline-primary rounded-pill"
                  type="submit">Contactez nous
                </button></div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-xl-5">
            <div>
              <img height="500px" src="assets/images/team3.jpg" alt="alternative" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-5">
      <div class="">
        <div class="row d-flex justify-content-center">
          <div class="col-sm-12 col-md-9 blog-card">
            <div class="meta">
              <div class="photo"
                style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg); height: 500px !important;">
              </div>
            </div>
            <div class="description">
              <h2 class="fw-bold text-dark">Une vision différente</h2>
              <p class="pt-3 pb-3" style="font-size: large;"> Au-delà d’une vision nouvelle, nos experts vous permettent
                de prendre du
                recul en étant accompagné(e)
                dans un cadre sécurisant, afin de mesurer les conséquences des orientations que vous insufflez à
                l’entreprise.

                Bien sûr, nos experts bénéficient d’un regard expérimenté sur votre activité, de par des années
                d’expériences dans le Conseil aux dirigeants mais aussi par une vision pragmatique du marché où son
                client évolue.

                En effet, nos experts complètent leur veille technique sur nos domaines de compétences par une
                observation et un échange sur les marchés au niveau local, national et international. GestiON Afrique a
                développé dans cet objectif des commissions sectorielles et des départements métiers. Les Experts de
                tous les cabinets se réunissent régulièrement pour échanger et développer des solutions innovantes pour
                nos clients.</p>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center pt-3">
          <div class=" col-sm-12 col-md-9 blog-card alt">
            <div class="meta">
              <div class="photo"
                style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg);">
              </div>
            </div>
            <div class="description">
              <h2 class="fw-bold text-dark">Un savoir-faire avéré</h2>
              <p class="pt-3 pb-3">Les équipes à votre service, qui partagent des méthodes et outils, sont formées afin
                de vous
                accompagner dans les domaines suivants :

              </p>

              <ul>
                <li><i class="ri-check-double-line"></i> <strong> Secrétariat juridique</strong>
                  </li>

                <li><i class="ri-check-double-line"></i> <strong> Droit des affaires et économique </strong>
                  </li>
                <li><i class="ri-check-double-line"></i> <strong> Droit fiscal</strong> </li>
                <li><i class="ri-check-double-line"></i> <strong> Assistance en matière de cession et de transmission</strong> </li>
              </ul>

              <p class="pb-3">
                La Recherche et Développement est spécifiquement orientée selon vos besoins afin que nos experts soient
                les meilleurs partenaires de votre entreprise.
              </p>

              <!-- <p class="read-more">
                <a href="#">Read More</a>
              </p>-->
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- <section class="pt-2">
      <div class="container">
        <div class="row g-xl-0 align-items-center">
          <div class="col-md-6 order-md-1 text-md-end"><img class="img-fluid mb-5 mb-md-0"
              src="assets/images/Audit-rafiki.png" width="480" alt="" /></div>
          <div class="col-md-6 text-center text-md-start order-md-0">
            <h2 class="fw-bold lh-base">Un nouveau métier<br />Business Coach</h2>
            <hr class="text-dark mx-auto mx-md-0" style="height:2px;width:50px" />
            <p class="pt-3">
              A chacun des enjeux que vous partagez avec nous correspond une organisation des hommes et des compétences
              en matière juridique et fiscale. Notre ambition est de vous apporter des solutions sur mesure afin de
              répondre aux contraintes de l’environnement réglementaire, tout en s’intégrant à la volonté et la
              stratégie de votre entreprise.
            </p>
          </div>
        </div>
      </div>
    </section> -->
  </div>

  <div *ngIf="id==4">

    <div class="bg-light">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-6 col-xl-7 ">
            <div class="text-md-start">
              <div class="section-title">DETAILS</div>
              <h2>Gestion financière</h2>
              <p>A chacun des enjeux que vous partagez avec nous correspond une organisation des hommes et des
                compétences en matière juridique et fiscale. Notre ambition est de vous apporter des solutions sur
                mesure afin de répondre aux contraintes de l’environnement réglementaire, tout en s’intégrant à la
                volonté et la stratégie de votre entreprise.</p>
              <div class=""><button (click)="navigateTo('contact')" class="btn btn-lg btn-outline-primary rounded-pill"
                  type="submit">Contactez nous
                </button></div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-xl-5">
            <div>
              <img height="60%" src="assets/images/team1.jpg" alt="alternative" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-5 pt-5">
      <div class="container">
        <div class="row">
          <div class=" col-sm-12 col-md-4 blog-card">
            <div class="meta">
              <div class="photo"
                style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)">
              </div>
            </div>
            <div class="description">
              <h2 class="fw-bold text-dark">Notre approche de la stratégie des entreprises</h2>
              <h2>Agilité et pragmatisme</h2>
              <p> Pour créer, accompagner, et développer un fonctionnement agile au sein d’entreprises structurées et
                ancrées, ou encore, structurer et accélérer de nombreuses start-up, nous nous appuyons sur une approche
                systémique, composée de 3 fondamentaux : la science de l’agilité, l’esprit de résilience et l’âme
                d’entrepreneur.</p>
            </div>
          </div>
          <div class=" col-sm-12 col-md-4 blog-card alt">
            <div class="meta">
              <div class="photo"
                style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg);">
              </div>
            </div>
            <div class="description">
              <h2 class="fw-bold text-dark">Notre accompagnement</h2>
              <h2>Global et sur-mesure</h2>
              <p>Pour créer, accompagner, et développer un fonctionnement agile au sein d’entreprises structurées et
                ancrées, ou encore, structurer et accélérer de nombreuses start-up, nous nous appuyons sur une approche
                systémique, composée de 3 fondamentaux : la science de l’agilité, l’esprit de résilience et l’âme
                d’entrepreneur.</p>
              <!-- <p class="read-more">
                <a href="#">Read More</a>
              </p>-->
            </div>
          </div>
          <div class=" col-sm-12 col-md-4 blog-card alt">
            <div class="meta">
              <div class="photo"
                style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg);">
              </div>
            </div>
            <div class="description">
              <h2 class="fw-bold text-dark">Notre méthode</h2>
              <h2>Efficience, performance et humain</h2>
              <p>
                Identifier les facteurs de risques, pour les transformer en opportunités Anticiper les enjeux de
                disruption de vos propres marchés Repenser l’organisation et le fonctionnement de l’entreprise
                Accompagner le dirigeant face aux enjeux avec ses associés, ses collaborateurs, ses clients Développer
                le « Faire-Savoir » et communiquer
              </p>
              <!-- <p class="read-more">
                <a href="#">Read More</a>
              </p>-->
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="">
      <div class="container">
        <div class="row g-xl-0 align-items-center">
          <div class="col-md-6 order-md-1 text-md-end"><img class="img-fluid mb-5 mb-md-0"
              src="assets/images/Audit-rafiki.png" width="480" alt="" /></div>
          <div class="col-md-6 text-center text-md-start order-md-0">
            <h2 class="fw-bold lh-base">Un nouveau métier<br />Business Coach</h2>
            <hr class="text-dark mx-auto mx-md-0" style="height:2px;width:50px" />
            <p class="pt-3">
              A chacun des enjeux que vous partagez avec nous correspond une organisation des hommes et des compétences
              en matière juridique et fiscale. Notre ambition est de vous apporter des solutions sur mesure afin de
              répondre aux contraintes de l’environnement réglementaire, tout en s’intégrant à la volonté et la
              stratégie de votre entreprise.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>


  <!-- <section class="pt-6 bg-light" id="about">
    <div class="bg-holder"
      style="background-image:url(assets/images/dot.png);background-position:right bottom;background-size:auto;margin-top:50px;">
    </div>
    <div class="container">
      <div class="row g-xl-0 align-items-center">
        <div class="col-md-6"><img class="img-fluid mb-5 mb-md-0" src="assets/images/Business Plan-pana.png" width="480"
            alt="" />
        </div>
        <div class="col-md-6 text-center text-md-start">
          <h3 class="fw-bold lh-base">Des solutions adaptées <br> à chaque situation</h3>
          <hr class="text-dark mx-auto mx-md-0" style="height:2px;width:50px" />
          <p class="pt-3">Vous souhaitez déléguer vos obligations réglementaires, identifier les risques éventuels,
            optimiser vos
            options comptables et fiscales en intégrant l’environnement économique qui est le vôtre.

            Vous cherchez un expert-comptable à votre écoute afin de vous accompagner de manière proactive pour une
            méthodologie et des recommandations au fur et à mesure que vous vous développez</p>
          <div class="py-3"><button class="btn btn-lg btn-outline-primary rounded-pill" type="submit">Contactez-nous
            </button></div>
        </div>
      </div>
    </div>
  </section> -->

</div>

<!-- <div id="details" class="basic-1 ">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-7">
        <div class="image-container">
          <img class="img-fluid" src="assets/images/comptabilite4.jpg" alt="alternative" />
        </div>
      </div>
      <div class="col-lg-6 col-xl-5">
        <div class="text-container">
          <h4 class="">WHAT WE DO</h4>
          <p>Vous souhaitez déléguer vos obligations réglementaires, identifier les risques éventuels, optimiser vos
            options comptables et fiscales en intégrant l’environnement économique qui est le vôtre.

            Vous cherchez un expert-comptable à votre écoute afin de vous accompagner de manière proactive pour une
            méthodologie et des recommandations au fur et à mesure que vous vous développez.</p>
          <div class="pt-2"><button class="btn btn-lg btn-outline-primary rounded-pill" type="submit">Voir plus
            </button></div>
        </div>
      </div>
    </div>
  </div>
</div> -->
