<section class="start mt-7" style="background-image: url(assets/images/team9.jpg);">
  <div class="bg-holder">
  </div>
  <!--/.bg-holder-->
  <div class="container position-relative">
    <div class="row align-items-center">
      <div class="col-md-7 col-lg-6 text-center text-md-start">
        <h1 class="pt-8 mb-4 display-3  text-white text-shadow" style="font-size: 65px !important;"> Nos services <br
            class="d-block d-lg-none d-xl-block" /></h1>
        <p class="pt-4 fs-1 text-white text-shadow" style="font-size: 25px !important;">Nous sommes un cabinet
          d'expertise comptable. Nous vous offrons un service de
          comptabilité fiable et personnalisé qui vous permet de gagner du temps et de vous concentrer sur votre cœur
          de métier</p>
      </div>
    </div>
  </div>
</section>

<div class="container-lg py-5">
  <div class="row justify-content-center">
    <div class="col-3 text-center">
      <h2 class="fw-bold">Nos services</h2>
      <hr class="w-25 mx-auto text-dark" style="height:2px;" />
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-9 col-xl-8 text-center" style="max-width: 600px !important;">
      <p>Nous vous fournissons des services d’expertise comptable en ligne pensés par des entrepreneurs pour les
        entrepreneurs</p>
    </div>
  </div>
  <div class="row justify-content-center h-100 pt-7 g-4">
    <div class="col-sm-9 col-md-4">
      <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
        <div class="card-body text-center text-md-start">
          <div class="py-3"><img class="img-fluid" src="assets/images/comptabilite.png" height="90" alt="" /></div>
          <div class="py-3">
            <h4 class="fw-bold card-title">Comptabilité et Fiscalité</h4>
            <p class="card-text">La tenue intégrale, partagée ou déléguée de votre comptabilité dans le respect des
              obligations légales
              et des perspectives en matière de dématérialisation</p>
            <div class="pt-2"><button (click)="navigateTo(1)" class="btn btn-lg btn-outline-primary rounded-pill"
                type="submit">Voir plus
              </button></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-4">
      <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
        <div class="card-body text-center text-md-start">
          <div class="py-3"><img class="img-fluid" src="assets/images/rh.png" height="90" alt="" />
          </div>
          <div class="py-3">
            <h4 class="fw-bold card-title">Paie et RH</h4>
            <p class="card-text">L’externalisation et la digitalisation de la gestion de paie ainsi que des missions
              sociales, en toute conformité et confidentialité</p>
            <div class="pt-2"><button (click)="navigateTo(2)" class="btn btn-lg btn-outline-primary rounded-pill"
                type="submit">Voir plus
              </button></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-4">
      <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
        <div class="card-body text-center text-md-start">
          <div class="py-3"><img class="img-fluid" src="assets/images/juridique.png" height="90" alt="" /></div>
          <div class="py-3">
            <h4 class="fw-bold card-title">Juridique</h4>
            <p class="card-text">Le périmètre de conseil indispensable à l’accompagnement et à la sécurisation de vos
              choix opérationnels et stratégiques</p>
            <div class="pt-2"><button (click)="navigateTo(3)" class="btn btn-lg btn-outline-primary rounded-pill"
                type="submit">Voir plus
              </button></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-4">
      <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
        <div class="card-body text-center text-md-start">
          <div class="py-3"><img class="img-fluid" src="assets/images/finance.png" height="90" alt="" /></div>
          <div class="py-3">
            <h4 class="fw-bold card-title">Gestion financière</h4>
            <p class="card-text">Prévisionnelle ou financière, le pilotage de la gestion de l’activité à l’aide d’outils
              performants d’étude, de prévision et de contrôle
            </p>
            <div class="pt-2"><button (click)="navigateTo(4)" class="btn btn-lg btn-outline-primary rounded-pill"
                type="submit">Voir plus
              </button></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-4">
      <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
        <div class="card-body text-center text-md-start">
          <div class="py-3"><img class="img-fluid" src="assets/images/strategie.png" height="90" alt="" />
          </div>
          <div class="py-3">
            <h4 class="fw-bold card-title">Financement & Stratégie</h4>
            <p class="card-text">
              Création, valorisation, cession, transmission, une équipe pluridisciplinaire au service de vos projets
              selon leur cycle de vie </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-4">
      <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
        <div class="card-body text-center text-md-start">
          <div class="py-3"><img class="img-fluid" src="assets/images/digital.png" height="90" alt="" /></div>
          <div class="py-3">
            <h4 class="fw-bold card-title">Conseil en transformation digitale</h4>
            <p class="card-text">Conseil en transformation digitale
              Analyse et accompagnement dans votre transformation digitale</p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="text-center py-4"><button class="btn btn-lg btn-outline-primary rounded-pill" type="submit">Learn
        more </button></div> -->
  </div>
</div>

<app-contact [services]="false" [metiers]="false" [decouverte]="true"></app-contact>
