<section class="start mt-7" style="background-image: url(assets/images/team5.jpg);">
  <div class="bg-holder"
     >
  </div>
  <!--/.bg-holder-->
  <div class="container position-relative">
    <div class="row align-items-center">
      <div class="col-md-7 col-lg-6 text-center text-md-start">
        <h1 class="pt-8 mb-4 display-3  text-white text-shadow" style="font-size: 65px !important;"> Gestion Afrique <br
            class="d-block d-lg-none d-xl-block" /></h1>
        <p class="pt-4 fs-1 text-white text-shadow" style="font-size: 25px !important;">Notre cabinet d'expertise comptable GESTION Afrique vous offre un service de
          comptabilité fiable et personnalisé qui vous permet de gagner du temps et de vous concentrer sur votre cœur de
          métier. Nous comprenons que la tenue de la comptabilité peut être fastidieuse et chronophage, c'est pourquoi
          nous prenons en charge l'ensemble des tâches, de la saisie manuelle à la catégorisation en passant par le
          rapprochement bancaire</p>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="bg-holder"
    style="background-image:url(assets/images/services-bg.png);background-position:center left;background-size:auto;">
  </div>
  <!--/.bg-holder-->
  <div class="bg-holder"
    style="background-image:url(assets/images/dot-2.png);background-position:center right;background-size:auto;margin-left:-180px;margin-top:20px;">
  </div>
  <!--/.bg-holder-->
  <div class="container-lg">
    <div class="row justify-content-center">
      <div class="col-8 text-center">
        <h2 class="fw-bold">La relation à l’expert-comptable réinventée</h2>
        <hr class="w-25 mx-auto text-dark" style="height:2px;" />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-9 col-xl-7 text-center">
        <p>Avec Gestion Afrique, la relation à votre Cabinet Digital devient source de création de valeur et n’est plus une simple contrainte réglementaire</p>
      </div>
    </div>
    <div class="row justify-content-center h-100 pt-7 g-4">
      <div class="col-sm-9 col-md-4">
        <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
          <div class="card-body text-center text-md-start">
            <div class="py-3"><img class="img-fluid" src="assets/images/mission.png" height="90" alt="" /></div>
            <div class="py-3">
              <h4 class="fw-bold card-title">Notre mission et Devise</h4>
              <p class="card-text">Aider les Dirigeants à mieux piloter leur entreprise. Accompagner l’entrepreneur vers
                le succès avec une Expertise Comptable digitale de qualité</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9 col-md-4">
        <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
          <div class="card-body text-center text-md-start">
            <div class="py-3"><img class="img-fluid" src="assets/images/vision.png" height="90" alt="" />
            </div>
            <div class="py-3">
              <h4 class="fw-bold card-title">Notre vision</h4>
              <p class="card-text">Nous avons fait le choix de tirer vers le haut la qualité du service et du conseil
                aux entreprises et de réunir des compétences complémentaires afin de fournir aux entrepreneurs le
                meilleur accompagnement</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9 col-md-4">
        <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
          <div class="card-body text-center text-md-start">
            <div class="py-3"><img class="img-fluid" src="assets/images/developp.png" height="90" alt="" /></div>
            <div class="py-3">
              <h4 class="fw-bold card-title">Développement</h4>
              <p class="card-text">Grâce à la solution technologique développée par GestiON Afrique, le collaborateur
                comptable est libéré de nombreuses tâches de collecte et saisie, et peut enfin se recentrer sur ce qui
                fait l’expertise de son métier : le Conseil.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-sm-9 col-md-4">
        <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
          <div class="card-body text-center text-md-start">
            <div class="py-3"><img class="img-fluid" src="assets/images/details-info.png" height="90" alt="" /></div>
            <div class="py-3">
              <h4 class="fw-bold card-title">Expertise comptable</h4>
              <p class="card-text">Que vous soyez une TPE, une PME, une StartUp ou un grand groupe, GESTION Afrique vous
                accompagne par des prestations d’Expertise Comptable de qualité.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9 col-md-4">
        <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
          <div class="card-body text-center text-md-start">
            <div class="py-3"><img class="img-fluid" src="assets/images/emergency-care.png" height="90" alt="" />
            </div>
            <div class="py-3">
              <h4 class="fw-bold card-title">Fiscalité</h4>
              <p class="card-text">Nous vous assistons et vous conseillons sur l’ensemble de votre volet fiscal, et bien
                sûr nous réalisons toutes vos déclarations fiscales et télé-règlements </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9 col-md-4">
        <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
          <div class="card-body text-center text-md-start">
            <div class="py-3"><img class="img-fluid" src="assets/images/tracking.png" height="90" alt="" /></div>
            <div class="py-3">
              <h4 class="fw-bold card-title">Tracking</h4>
              <p class="card-text">GESTION Afrique vérifie la conformité de vos variables de paie, établit vos bulletins
                de salaire et réalise l’ensemble de vos déclarations socialesa </p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center py-4"><button class="btn btn-lg btn-outline-primary rounded-pill" type="submit">Learn
          more </button></div> -->
    </div>
  </div>
</section>

<section class="py-6 py-lg-8" id="about">
  <div class="bg-holder"
    style="background-image:url(assets/images/dot.png);background-position:right bottom;background-size:auto;margin-top:50px;">
  </div>
  <!--/.bg-holder-->
  <div class="container">
    <div class="row g-xl-0 align-items-center">
      <div class="col-md-6"><img class="img-fluid mb-5 mb-md-0" src="assets/images/Business Plan-pana.png" width="480" alt="" />
      </div>
      <div class="col-md-6 text-center text-md-start">
        <h2 class="fw-bold lh-base">Une expertise <br />hors du commun</h2>
        <hr class="text-dark mx-auto mx-md-0" style="height:2px;width:50px" />
        <p class="pt-3">La société GESTION Afrique dispose d'une équipe d'experts possédant une expertise et une
          connaissance métier solides, qui leur permettent de s'adapter parfaitement à la forme et à la taille de votre
          entreprise. Grâce à notre approche personnalisée, nous pouvons vous offrir un accompagnement sur mesure.</p>
        <div class="py-3"><button class="btn btn-lg btn-outline-primary rounded-pill" type="submit">Voir nos métiers
          </button></div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="bg-holder"
    style="background-image:url(assets/images/services-bg.png);background-position:center left;background-size:auto;">
  </div>
  <!--/.bg-holder-->
  <div class="bg-holder"
    style="background-image:url(assets/images/dot-2.png);background-position:center right;background-size:auto;margin-left:-180px;margin-top:20px;">
  </div>
  <!--/.bg-holder-->
  <div class="container-lg">
    <div class="row justify-content-center">
      <div class="col-8 text-center">
        <h2 class="fw-bold">Les niveaux d'accompagement pour votre entreprise</h2>
        <hr class="w-25 mx-auto text-dark" style="height:2px;" />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-9 col-xl-7 text-center">
        <p>Optimisez votre gestion d’entreprise pour maximiser vos chances de réussir, grâce à notre organisme de
          gestion au service des dirigeants</p>
      </div>
    </div>
    <div class="row justify-content-center h-100 pt-7 g-4">
      <div class="col-sm-9 col-md-4">
        <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
          <div class="card-body text-center text-md-start">
            <div class="py-3"><img class="img-fluid" src="assets/images/creation.png" height="90" alt="" /></div>
            <div class="py-3">
              <h4 class="fw-bold card-title">Création</h4>
              <p class="card-text">Vous êtes créateur d’entreprise ? Nous vous accompagnons sur la gestion et la
                structuration de votre activité, avec comme objectif de vous développer sereinement et de manière
                pérenne</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9 col-md-4">
        <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
          <div class="card-body text-center text-md-start">
            <div class="py-3"><img class="img-fluid" src="assets/images/structure.png" height="90" alt="" />
            </div>
            <div class="py-3">
              <h4 class="fw-bold card-title">Structuration</h4>
              <p class="card-text">Vous êtes en train de vous structurer ? Concentrez-vous sur votre métier et votre
                activité et confiez-nous de tous les éléments nécessaires à la bonne gestion de votre entreprise</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9 col-md-4">
        <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
          <div class="card-body text-center text-md-start">
            <div class="py-3"><img class="img-fluid" src="assets/images/developp.png" height="90" alt="" /></div>
            <div class="py-3">
              <h4 class="fw-bold card-title">Développement</h4>
              <p class="card-text">Vous internalisez déjà une grande partie de la gestion et la comptabilité de votre
                entreprise mais vous souhaitez être accompagné par un partenaire de confiance qui saura vous conseiller
                et vous guider lors des moments clefs et forts de la vie de votre entreprise.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-sm-9 col-md-4">
        <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
          <div class="card-body text-center text-md-start">
            <div class="py-3"><img class="img-fluid" src="assets/images/details-info.png" height="90" alt="" /></div>
            <div class="py-3">
              <h4 class="fw-bold card-title">Expertise comptable</h4>
              <p class="card-text">Que vous soyez une TPE, une PME, une StartUp ou un grand groupe, GESTION Afrique vous
                accompagne par des prestations d’Expertise Comptable de qualité.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9 col-md-4">
        <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
          <div class="card-body text-center text-md-start">
            <div class="py-3"><img class="img-fluid" src="assets/images/emergency-care.png" height="90" alt="" />
            </div>
            <div class="py-3">
              <h4 class="fw-bold card-title">Fiscalité</h4>
              <p class="card-text">Nous vous assistons et vous conseillons sur l’ensemble de votre volet fiscal, et bien
                sûr nous réalisons toutes vos déclarations fiscales et télé-règlements </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9 col-md-4">
        <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
          <div class="card-body text-center text-md-start">
            <div class="py-3"><img class="img-fluid" src="assets/images/tracking.png" height="90" alt="" /></div>
            <div class="py-3">
              <h4 class="fw-bold card-title">Tracking</h4>
              <p class="card-text">GESTION Afrique vérifie la conformité de vos variables de paie, établit vos bulletins
                de salaire et réalise l’ensemble de vos déclarations socialesa </p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center py-4"><button class="btn btn-lg btn-outline-primary rounded-pill" type="submit">Learn
          more </button></div> -->
    </div>
  </div>
</section>

<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-6 py-lg-8">
  <div class="container">
    <div class="row g-xl-0 align-items-center">
      <div class="col-md-6 order-md-1 text-md-end"><img class="img-fluid mb-5 mb-md-0" src="assets/images/Audit-rafiki.png"
          width="480" alt="" /></div>
      <div class="col-md-6 text-center text-md-start order-md-0">
        <h2 class="fw-bold lh-base">Un nouveau métier<br />Business Coach</h2>
        <hr class="text-dark mx-auto mx-md-0" style="height:2px;width:50px" />
        <p class="pt-3">Nos experts en comptabilité sont là pour vous accompagner à chaque étape de votre comptabilité,
          depuis la tenue et la révision périodique de vos comptes jusqu'à l'établissement de votre bilan comptable et
          de votre bilan prévisionnel. Nous pouvons également mettre en place des procédures comptables et
          administratives pour vous aider à gérer efficacement votre entreprise. Avec GESTION Afrique, vous pouvez être
          sûr que vous avez accès à une expertise de haut niveau pour vous aider à atteindre vos objectifs commerciaux.
        </p>
        <!-- <div class="py-3"><button class="btn btn-lg btn-outline-primary rounded-pill" type="submit">Learn more <svg
              class="bi bi-arrow-down-short" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z">
              </path>
            </svg></button></div> -->
      </div>
    </div>
  </div><!-- end of .container-->
</section><!-- <section> close ============================-->
<!-- ============================================-->

<!-- <div class="container-lg py-5">
  <div class="row justify-content-center">
    <div class="col-3 text-center">
      <h2 class="fw-bold">Nos services</h2>
      <hr class="w-25 mx-auto text-dark" style="height:2px;" />
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-9 col-xl-8 text-center">
      <p>Nous vous fournissons des services d’expertise comptable en ligne pensés par des entrepreneurs pour les
        entrepreneurs</p>
    </div>
  </div>
  <div class="row justify-content-center h-100 pt-7 g-4">
    <div class="col-sm-9 col-md-4">
      <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
        <div class="card-body text-center text-md-start">
          <div class="py-3"><img class="img-fluid" src="assets/images/search.png" height="90" alt="" /></div>
          <div class="py-3">
            <h4 class="fw-bold card-title">Search doctor</h4>
            <p class="card-text">Choose your doctor from thousands of specialist, general, and trusted hospitals</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-4">
      <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
        <div class="card-body text-center text-md-start">
          <div class="py-3"><img class="img-fluid" src="assets/images/online-pharmacy.png" height="90" alt="" />
          </div>
          <div class="py-3">
            <h4 class="fw-bold card-title">Online pharmacy</h4>
            <p class="card-text">Buy your medicines with our mobile application with a simple delivery system</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-4">
      <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
        <div class="card-body text-center text-md-start">
          <div class="py-3"><img class="img-fluid" src="assets/images/consultation.png" height="90" alt="" /></div>
          <div class="py-3">
            <h4 class="fw-bold card-title">Consultation</h4>
            <p class="card-text">Free consultation with our trusted doctors and get the best recomendations</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-4">
      <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
        <div class="card-body text-center text-md-start">
          <div class="py-3"><img class="img-fluid" src="assets/images/details-info.png" height="90" alt="" /></div>
          <div class="py-3">
            <h4 class="fw-bold card-title">Details info</h4>
            <p class="card-text">You can get 24/7 urgent care for yourself or your children and your lovely family
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-4">
      <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
        <div class="card-body text-center text-md-start">
          <div class="py-3"><img class="img-fluid" src="assets/images/emergency-care.png" height="90" alt="" />
          </div>
          <div class="py-3">
            <h4 class="fw-bold card-title">Emergency care</h4>
            <p class="card-text">Track and save your medical history and health data </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-4">
      <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
        <div class="card-body text-center text-md-start">
          <div class="py-3"><img class="img-fluid" src="assets/images/tracking.png" height="90" alt="" /></div>
          <div class="py-3">
            <h4 class="fw-bold card-title">Tracking</h4>
            <p class="card-text">Track and save your medical history and health data </p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center py-4"><button class="btn btn-lg btn-outline-primary rounded-pill" type="submit">Learn
        more </button></div>
  </div>
</div> -->

<app-contact [services]="false" [metiers]="false" [decouverte]="false" ></app-contact>
